# LLM API KEY
GROQ_API_KEY=your_groq_api_key_here

# Third party api configuration
TAVLIY_API_KEY=your_tavily_api_key_here
NEWS_API_KEY=your_news_api_key_here

# AWS configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=us-east-1

# RAG configuration
RAG_CHUNK_SIZE=1000
RAG_CHUNK_OVERLAP=200
RAG_TTL_DAYS=10
RAG_COLLECTION_NAME=knowledge_base
RAG_PERSIST_DIRECTORY=./qdrant_data
RAG_EMBEDDING_MODEL=aws